body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.orbit-previous {
    color: gray;
}

.orbit-next {
    color: gray;
}
.contenedor-productos{
	width: 80%;
}
.imagen-productos{
	width: 100%;
	height: 200px;
}