
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.orbit-container {
  height: 300px;

}
.orbit-previous, .orbit-next {
    color: gray;
}

#tele div img {
  width: 100%;
}
/*clases de la seccion de productos*/
.texto-productos{
	margin-top: 2%;
	font-weight: bold;
}
.contenedor-productos{
	width: 80%;
	margin-left: 3%;
}
.imagenes-centradas{
	border: none;
	margin-left: 5%;
}
.imagen-productos{
	width: 100%;
	height: 200px;
}
.descripcion-texto{ 
	padding-top: 5%;
 }
/*fin de la seccion de productos*/



