
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.orbit-container {
  height: 300px;

}
.orbit-previous, .orbit-next {
    color: gray;
}

#tele div img {
  width: 100%;
}
/*clases de la seccion de productos*/
.texto-productos{
	margin-top: 2%;
	font-weight: bold;
}
.contenedor-productos{
	margin-left: 3%;
}
.imagenes-centradas{
	border: none;
	margin-left: 5%;
}
.imagen-productos{
	width: 100%;
	height: 200px;
}
.descripcion-texto{
	padding-top: 5%;
 }
/*fin de la seccion de productos*/

.pt-30 {
  padding-top: 30px;
	font-size: 80%;
}

#carrito {
  margin-bottom: 0;
}

.gris {
	color: gray;
	font-weight: 700;
}

.verde {
	color: green;
	font-weight: 600;
}

.rojo {
	color: red;
	font-weight: 600;
	margin-left: 12%;
}

#imgCarrito {
	width: 12%;
}

#imgCarrito img {
	width: 100%;
}

.prodNintendo	p {
		margin-bottom: 3px;
}

.prodNintendo	input {
		margin-bottom: 3px;
}

.mL-75 {
	margin-left: 75%;
	margin-bottom: 0;
}

.mL-75 + hr {
	margin-top: 0;
}

.mL-40 {
	margin-left: 40%;
}

.cantidadCompra {
	width: 7%;
	height: 8%;
	margin: 0;
	margin-left: 10%;
	padding: 0;
	display: inline-block;
}

#subtotal {
	margin-left: 72%;
}

.s-bb {
	font-size: 80%;
}
